html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  body {
    width: 100%;
    min-height: 100vh;
    background-color: #f2f3f5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
  }
  /* signup form */
  .signup{
    padding: 90px 75px;
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    border-radius: 30px;
    display: none;
  }
  .heading {
    font-size: 40px;
    font-weight: bold;
    color: #373941;
    text-align: center;
    margin-bottom: 35px;
  }
  .signup-social {
    padding: 10px;
    border-radius: 20px;
    display: block;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    border: 0;
    background-color: #4c6ff4;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px 10px 0 rgba(76, 111, 244, 0.5);
    text-align: center;
  }
  .signup-social-icon {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4c6ff4;
    font-size: 30px;
  }
  .signup-social-text {
    display: block;
    margin: 0 auto;
  }
  .signup-or {
    text-align: center;
    font-size: 16px;
    color: #999;
    margin: 55px auto;
    position: relative;
  }
  .signup-or span {
    display: inline-block;
    padding: 10px 30px;
    background-color: #fff;
    position: relative;
    z-index: 2;
  }
  .signup-or:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .form-group {
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
}

.form-label,
.form-message {
    text-align: left;
}
  .form-label {
    font-size: 16px;
    color: #63676b;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
  }
  .form-input {
    display: block;
    width: 100%;
    padding: 25px;
    border-radius: 14px;
    background-color: #f2f3f5;
    outline: none;
    border: 1px solid #b3b3b3;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
  }
  .form-input::-webkit-input-placeholder {
    color: #b4bac0;
    font-weight: 500;
  }
  .form-input::-moz-input-placeholder {
    color: #b4bac0;
    font-weight: 500;
  }
  .form-submit {
    padding: 25px;
    color: white;
    font-size: 18px;
    text-align: center;
    border: 0;
    outline: none;
    display: inline-block;
    width: 100%;
    border-radius: 14px;
    background-color: rgb(130, 201, 30);
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 5px 10px 0 rgba(130, 201, 30, 0.5);
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .form-submit:hover{
    opacity: 0.8;
  }
  .signup-already {
    text-align: center;
    font-size: 16px;
    color: #999;
  }
  .form-link {
    color: #2979ff;
    text-decoration: none;
  }

.form-input:hover{
    border-color: rgba(130, 201, 30, 0.9);
}

.form-message {
  font-size: 16px;
  color: #f33a58;
}
.form-gender{
  margin: 10px 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #999;
}
.form-gender__section{
  display: flex;
  
}
.gender-name{
  display: inline-block;
  flex: 1;
  margin: 0 auto 8px;
  font-size: 16px;
  font-weight: 500;
}

.form-group.invalid .form-input, input[type="radio"] {
    border-color: #f33a58;
}

.form-group.invalid .form-message, .form-group.invalid .form-gender {
    color: #f33a58;
}

.form-group select option{
  color: #999;
}
.form-group select{
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 50%;
  background-color: #f2f3f5;
  color: #b4bac0;
  cursor: pointer;
}
/*login form */
.login{
  padding: 90px 75px;
  background-color: #fff;
  width: 100%;
  max-width: 600px;
  border-radius: 30px;
  
}
.form-group .section-password{
  position: relative;
}
.form-group .section-password .visibility-password{
  position: absolute;
  width: 65px;
  height: 65px;
  top: 7%;
  right: 0;
  font-size: 18px ;
  color: #999;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.form-group .section-password .visibility-password .icon-open-eye{
  display: none;
}
.form-group .section-password .visibility-password .icon-close-eye{
  display: block;
}
